{% extends 'layout.twig' %}

{% block title %}
   Layout example with Twig {{ parent() }}
{% endblock %}

{% block css_head %}
    <style>
        body
        {
            width: 80%;
            margin: 0 auto;
            background-color: #eee;
        }
    </style>
{% endblock %}

{% block primary_content %}
    {% include "include_simple.twig" %}
{% endblock %}

{% block secondary_content %}
    <ul>
        <li>
            <a href="http://facebook.com">Facebook</a>
        </li>
        <li>
            <a href="http://twitter.com">Twitter</a>
        </li>
        <li>
            <a href="http://google.com/+">Google Plus</a>
        </li>
    </ul>
{% endblock %}