{% set group = 'Seacost Drupal User Group' %}
<p>
	Hello {{ group }}, my name is {{ first_name }} {{ last_name }}, and this is Twig!
</p>
<p>
	Undefined variables are no problem for Twig: {{ hasnt_been_defined }}
</p>